extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='feature_title') Title:
      input#feature_title.form-control(type='text', placeholder='Title' name='feature_title' required='true' value=(undefined===feature ? '' : feature.title) )
      
      label(for='member') Member:
      select#member.form-control(class='custom-select')
        option(selected)=(selectedMember ? selectedMember.full_name : "Select a member")
        for member in members
            option #{member.full_name}
      
      label(for='feature_summary') Summary:
      textarea#feature_summary.form-control(name="feature_summary", cols="30", rows="5")
      
      button(type="submmit" class="btn btn-primary mt-2") Save

  if errors 
    ul
      for error in errors
        li!= error.msg