extends layout

block sidebar

    ul
        li
            a(href='/episodes') Episodes
        li
            a(href='/features') Features
        li 
            a(href='/members') Members
        li
            a(href='/jingles') Jingles